<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <span>example-angular-mail</span>
  </mat-toolbar-row>
</mat-toolbar>
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-avatar"></div>
    <mat-card-title>An Example to send a Mail</mat-card-title>
    <mat-card-subtitle>Please write a mail below</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <form>
      <div class="example-form">
        <mat-form-field>
          <input matInput placeholder="To" #to [(ngModel)]="model.to" id="to" name="to">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="Subject" #subject [(ngModel)]="model.subject" id="subject" name="subject">
        </mat-form-field>
        <mat-form-field>
          <textarea matInput placeholder="Body" #body [(ngModel)]="model.body" id="body" name="body"></textarea>
        </mat-form-field>
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions>
    <div class="example-button-send">
      <button mat-raised-button color="accent" (click)="OnClickSend()">Send</button>
    </div>
  </mat-card-actions>
</mat-card>